* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Smokum';
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/5_background/desert.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-x: hidden;
}

canvas {
    background-color: black;
    display: block;
}

.canvasFullscreen {
    width: 100vw;
    height: 100%;
}

.gameOverScreen {
    position: absolute;
    width: 720px;
    height: 480px;
}

.gameOverScreenFullscreen {
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
}

.youWonScreen {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    width: 720px;
    height: 480px;
}

.youWonScreenFullscreen {
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 54px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

}


h2 {
    text-align: center;
}

.controls-box {
    background-color: #b56310;
    padding: 8px 100px;
    margin-top: 16px;
    border-radius: 16px;

}

.controls {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    font-size: 24px;
}

.startScreenContainer {
    width: 720px;
    height: 480px;
    z-index: 999;
    position: relative;
}

.startScreenButtons {
    display: flex;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 24px;
}

.startButton {
    width: 160px;
    height: 48px;
    font-size: 24px;
    background-color: #ffb73b;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;

}

.restartButton {
    width: 160px;
    height: 48px;
    font-size: 24px;
    background-color: #ffb73b;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;

}

.restartButton:hover {
    background-color:#ffa200;
;
    cursor: pointer;
}


.startButton:hover {
    background-color: #ffa200;
    cursor: pointer;
}

.hud {
    width: 660px;
    height: 100vh;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
}

.hud .controlButtons {
  pointer-events: auto; 
}



.panel {
    display: flex;
    padding-right: 24px;
    padding-left: 8px;
    padding-bottom: 24px;
    padding-top: 12px;
}

.panelup {
    justify-content: flex-end;
    margin-top: 80px;

    gap: 8px;
}

.paneldown {
    justify-content: space-between;
    display: none;
    gap: 48px;
}

.panel-wrapper {
    display: flex;
    gap: 8px;

}

.controlButtons {
    background-color: #ffb73b;
    padding: 16px;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    cursor: pointer;
}

.controlButtons:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

img {
    width: 100%;
    height: 100%;
}

.d-none {
    display: none;
}


.backButton {
    width: 160px;
    height: 48px;
    margin-bottom: 24px;
    font-size: 24px;
    background-color: #ffb73b;
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turnPhoneMessage {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0);
    color: #ffb73b;
    font-size: 24px;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.site-footer {
    display: block;
    position: fixed;   /* immer unten */
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 999;      /* sicherstellen, dass er über dem Spiel liegt */
}


.site-footer a {
    text-decoration: none;
}

.site-footer a:focus,
.site-footer a:hover {
    text-decoration: underline;
}

@media (hover: none) {
    #fullscreen {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .paneldown {
        display: flex;
    }

    .controls-box {
        display: none;
    }

    h1 {
        display: none;
    }

    .panelup {
        margin-top: 0px;
        margin-right: 0px;
    }

    .hideOnPhone {
        display: none;
    }

    #btnMute {
        margin-right: 80px;
    }
}

@media (hover: none){
    #fullscreen {
        height: 100vh;
        width: 100%;
    }

    canvas {
        height: 100vh;
        width: 100%;
    }

    .screens {
        height: 100vh;
        width: 100%;
        margin-top: 0;
        z-index: 998;
    }

    .paneldown {
        display: flex;
        margin-left: 32px;
        margin-right: 32px;
    }

    .panelup {
        margin-top: 0px;
        margin-right: 0px;
    }

    .controls-box {
        display: none;
    }

    h1 {
        display: none;
    }

    .hideOnPhone {
        display: none;
    }

    #btnMute {
        margin-right: 80px;
    }

    .panel-wrapper {
        gap: 24px;
    }
}@media(min-width:3999px){
    .paneldown{
        display: none;
    }
}